@import "../../styleguide.scss";

.header {
    padding: 12px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.logo {

        color: $black-primary;
        @include body-18px;
      
    
}
.nav {
    display: flex;
    align-items: flex-start;
}
.tabDefault {
    &:not(:last-of-type) {
      margin-right: 48px;
    }
  }