/* Variable */

:root {
    --black: rgba(0, 0, 0, 1);
    --bg--line: rgba(37, 48, 43, 1);
    --font--mdeium-emphasis: rgba(138, 138, 138, 1);
    --bg-gray: rgba(249, 250, 255, 1);
    --brandorange: rgba(253, 149, 25, 1);
    --bg--white: rgba(255, 255, 255, 1)

    --font-size-s: 16px;
    --font-size-m: 18px;
    --font-size-l: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 40px;
    --font-size-xxxl: 48px;
    --font-size-xxxxl: 64px;

    --font-family-comfortaa: "Comfortaa";
    --font-family-nunito: "Nunito", sans-serif;
    --font-family-raleway: "Raleway";
    --font-family-roboto: "Roboto";
}

/* Classes */

.nunito-normal-gray-18px{
    color: var(--font--mdeium-emphasis);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.comfortaa-bold-shark-40px{
    color: var(--bg--line);
    font-family: var(--font-family-comfortaa);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    font-style: normal;
}

.body24px{
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xl);
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
}

.comfortaa-bold-shark-18px{
    color: var(--bg--line);
    font-family: var(--font-family-comfortaa);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.comfortaa-bold-shark-48px{
    color: var(--bg--line);
    font-family: var(--font-family-comfortaa);
    font-size: var(--font-size-xxxl);
    font-weight: 700;
    font-style: normal;
}

.nunito-normal-neon-carrot-18px {
    color: var(--brandorange);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.robot-medium-shark-18px{
    color: var(--bg--line);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
}

.titleh1 {
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xxxxl);
    letter-spacing: 0px;
    font-weight: 700;
    font-style: normal;
}

.nunito-normal-white-18px{
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.body--18px{
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-m);
    letter-spacing: 0px;
    font-weight: 500;
    font-style: normal;
}

.nunito-normal-gray-16px{
    color: var(--font--mdeium-emphasis);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
}

.nunito-bold-neon-carrot-20px {
    color: var(--brandorange);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
}

.border-2px-bg-line {
    border-width: 2px;
    border-style: solid;
    border-color: var(--bg--line);
}


